*{
    padding:0;
    margin:0;
}
.Home .Comic{
    position:relative;
    overflow:hidden;
    width: 100vw;
    height:100vh;
}
.Bookcover{
    width:25vw;
    height:80vh;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 2.5vw;
}
.Bookcoverimg{
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 2.5vw;
}
.Bookcover a{
    position: relative;
    top:65%;
    left:50%;
    transform:translate(-50%);
    width:5vw;
    height:5vh;
    background: rgba(165, 42, 42, 1);
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 2vw;
    text-decoration: none;
    color:black;
    box-shadow: 1vw 1vw 2vw;
    transition: ease 0.3s;
    font-size: calc(0.8vh + 0.8vw);
}
.Bookcover a:hover{
    background: rgb(132, 33, 33);
    box-shadow: 0.8vw 0.8vw 1.5vw;
}
.BackgroundVideo{
    bottom:0;
    left:0;
    position:absolute;
    z-index:-1;
}
@media(min-aspect-ratio:16/9){
    .BackgroundVideo{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .BackgroundVideo{
        width: auto;
        height: 100%;
    }
}
::-webkit-scrollbar{
    width: 0.5vw; /* Scrollbar width */
    border-radius: 0.5px; /* Rounded corners */
}
::-webkit-scrollbar-track{
    background:rgba(46, 0, 0, 0.897);
}
::-webkit-scrollbar-thumb{
    background:rgba(62, 1, 1, 0.897);
}
::-webkit-scrollbar-thumb:hover{
    background:rgba(66, 5, 5, 0.897);
}
.homebtn{
    position:absolute;
    background-color: rgba(131, 37, 2, 0.867);
    width:4vw;
    height:4vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    top:3vh;
    left:10vw;
    transition: ease 0.8s;
}
.homebtn:hover{
    background-color: rgba(131, 37, 2, 1);
}
.homebtn img{
    width:3vw;
    height:3vw;
    transition: ease 0.8s;
}
.homebtn img:hover{
    width:2vw;
    height:2vw;
}
.backbutton{
    position:absolute;
    background-color: rgba(131, 37, 2, 0.867);
    width:4vw;
    height:4vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    bottom:0vh;
    left:-6vw;
    transition: ease 0.8s;
}
.backbutton img{
    width:4.5vw;
    height:4.5vw;
    transition: ease 0.8s;
}
.backbutton img:hover{
    width:2vw;
    height:2vw;
}
.backbutton:hover{
    background-color: rgba(131, 37, 2, 1);
}
.comicpage{
    position:absolute;
    z-index: 1;
    width:50vw;
    height:auto;
    top:15vh;
    left:25vw;
}
.comicpage img{
    width:100%;
    height:100%;
    border-radius: 2vw;
}
.Comic::before{
    content:'';
    background-color: rgba(0, 0, 0, 0.69);
    width:100vw;
    height:100vh;
    position:absolute;
    z-index: 0;
}
.nextbutton{
    position:absolute;
    background-color: rgba(131, 37, 2, 0.867);
    width:4vw;
    height:4vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    top:50%;
    right:-10vw;
    transition: ease 0.8s;
}
.nextbutton img{
    width:3.5vw;
    height:3.5vw;
    transition: ease 0.8s;
}
.nextbutton img:hover{
    width:2vw;
    height:2vw;
}
.nextbutton:hover{
    background-color: rgba(131, 37, 2, 1);
}
@keyframes into {
    from{
        transform:translate(25%);
        opacity:0;
    }
    to{
        transform:translate(0%);
        opacity:1;
    }
}
.comicpage div{
    animation-name: into;
    animation-duration: 1s;
}
.button1{
    position:absolute;
    bottom:6vh;
    width:10vw;
    height:10vh;
    left:6vw;
    z-index: 6;
    background-color: white;
}
.button1 img{
    width: 100%;
    height:auto;
}
.button2{
    position:absolute;
    bottom:6vh;
    width:10vw;
    height:10vh;
    right:6vw;
    z-index: 6;
}
.button2 img{
    width: 100%;
    height:auto;
}
.button3{
    position:absolute;
    top:15vh;
    width:10vw;
    height:10vh;
    left:10vw;
    z-index: 6;
    background-color: white;
}
.button3 img{
    width: 100%;
    height:auto;
}
.button4{
    position:absolute;
    top:15vh;
    width:10vw;
    height:10vh;
    right:10vw;
    z-index: 6;
}
.button4 img{
    width: 100%;
    height:auto;
}
.button5{
    position:absolute;
    bottom:6vh;
    width:10vw;
    height:10vh;
    left:6vw;
    z-index: 6;
    background-color: white;
}
.button5 img{
    width: 100%;
    height:auto;
}
.button6{
    position:absolute;
    bottom:6vh;
    width:10vw;
    height:10vh;
    right:6vw;
    z-index: 6;
}
.button6 img{
    width: 100%;
    height:auto;
}
#panel1{
    display:none;
}
#panel2{
    display:none;
}
#panel3{
    display:none;
}
#panel4{
    display:none;
}
#panel5{
    display:none;
}
#panel6{
    display:none;
}
#panel7{
    display:none;
}
#panel8{
    display:none;
}
#panel8b{
    display:none;
}
#panel9{
    display:none;
}
#panel10{
    display:none;
}
#panel11{
    display:none;
}
#panel12{
    display:none;
}
.button1 img:hover,
.button2 img:hover,
.button3 img:hover,
.button4 img:hover,
.button5 img:hover,
.button6 img:hover{
    width:110%;
}
@media only screen and (max-width: 1000px) {
    .BackgroundVideo{
        display:none;
    }
    body{
        background:url(./media/ABp.jpg);
        background-size: cover; /* Cover the entire section */
        background-repeat: no-repeat; /* No repeating of background image */
        background-attachment: fixed;
        background-position: center;
    }
    .Bookcover{
        width:65vw;
        height:50vh;
        top:25vh;
        transform:translate(-50%);
    }
    .Bookcover a{
        width:15vw;
        height:3vh;
        border-radius: 4vw;
        box-shadow: 2vw 2vw 3vw;
        font-size: calc(1vh + 1vw);
    }
    .Bookcover a:hover{
        background: rgb(132, 33, 33);
        box-shadow: 1.5vw 1.5vw 2.5vw;
    }
    .homebtn{
        width:6vw;
        height:6vw;
        top:26vh;
        left:10vw;
    }
    .homebtn img:hover{
        width:2vw;
        height:2vw;
    }
    .backbutton{
        width:6vw;
        height:6vw;
        bottom:-3vh;
        left:2.5vw;
        z-index:2;
        display:block;
    }
    .backbutton img{
        position:relative;
        top:0vh;
        left:0vw;
        width:6.5vw;
        height:6.5vw;
    }
    .backbutton img:hover{
        width:6.5vw;
        height:6.5vw;
    }
    .backbutton:hover{
        background-color: rgba(131, 37, 2, 1);
    }
    @keyframes into {
        from{
            transform:translate(8%);
            opacity:0;
        }
        to{
            transform:translate(0%);
            opacity:1;
        }
    }
    .comicpage{
        position:absolute;
        z-index: 1;
        width:80vw;
        height:auto;
        top:30vh;
        left:7vw;
    }
    .comicpage img{
        width:100%;
        height:100%;
        border-radius: 2vw;
    }
    .nextbutton{
        width:6vw;
        height:6vw;
        top:-3.6vh;
        right:0vw;
        z-index:2;
        display:block;
    }
    .nextbutton img{
        position:relative;
        top:0.1vh;
        left:0.2vw;
        width:5.5vw;
        height:5.5vw;
    }
    .nextbutton img:hover{
        width:5.5vw;
        height:5.5vw;
    }
    .nextbutton:hover{
        background-color: rgba(131, 37, 2, 1);
    }
    .button1{
        bottom:1vh;
        width:25vw;
        height:8vh;
        left:6vw;
    }
    .button2{
        bottom:1vh;
        width:25vw;
        height:8vh;
        right:6vw;
    }
    .button3{
        top:2vh;
        width:25vw;
        height:8vh;
        left:13vw;
        z-index: 6;
    }
    .button4{
        top:4vh;
        width:25vw;
        height:8vh;
        right:15vw;
        z-index: 6;
    }
    .button5{
        bottom:1vh;
        width:25vw;
        height:8vh;
        left:6vw;
    }
    .button6{
        bottom:1vh;
        width:25vw;
        height:8vh;
        right:6vw;
    }
}